PORT=5000
MONGO_URI=MONGO_URL=mongodb+srv://newrahulurmaliya2004:JKMbOceeHVNdR9Ar@cluster0.0lirw.mongodb.net/velura_store?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=velura_super_secret_key_2024
NODE_ENV=development
